# DataSpell IDE
.idea/
.dataspell/

# AI Model files
models/
results/
lookup_tables/
*.h5
*.pkl
*.pth
*.pt
*.onnx
*.pb
*.tflite

# Datasets
datasets/
data/
*.csv

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints
